.base-form {
    .ant-transfer {
        &-list {
            width: 100% !important;
        }
    }
}

.label-col-300 {
    .ant-form-item-label {
        width: 300px !important;
    }
}

.label-col-200 {
    .ant-form-item-label {
        width: 200px !important;
    }
}

.label-col-100 {
    .ant-form-item-label {
        width: 100px !important;
    }
}

.label-col-150 {
    .ant-form-item-label {
        width: 150px !important;
    }
}

.label-col-135 {
    .ant-form-item-label {
        width: 135px !important;
    }
}

.label-col-120 {
    .ant-form-item-label {
        width: 120px !important;
    }
}
