@import '~antd/dist/antd.css';
@import './styles/variable.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: lato, helvetica, arial, verdana, sans-serif, 'FontAwesome';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ant-switch-checked {
    background-color: #1890ff !important;
}

.ant-input-number {
    input {
        text-align: right;
    }
}

.legend-dashboard {
    padding: 5px;
    color: #fff;
    font-weight: 500;

    .button-legend {
        padding: 5px;
        width: 100px;
        text-align: center;
        height: 30px;
        border-radius: 5px;
    }

    .area-button-hcm {
        background-color: #f7941d;
    }

    .area-button-hn {
        background-color: #03897b;
    }

    .area-button-no-area {
        background-color: #d2d1ca;
    }

    .de-active {
        background-color: #cccccc !important;
    }
}

.ant-select-selection-search-input {
    border: unset; /* Remove border */
    box-shadow: none; /* Remove box shadow */
    outline: none; /* Remove outline */
}
